.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  border-radius: 45%;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

body{
		background-image: url("../images/nature.jpeg");
		background-size: 100%;
		background-repeat: no-repeat	
	}


p.lim{
	font-family: system-ui;
	font-size: 21px;
	text-align: justify;

}

p.lim1{
	font-family: system-ui;
	font-size: 25px;
	text-align: justify;

}
p.fot{
	text-align: center;
	font-family: system-ui;
	font-size: 18px;
	position: relative;	
	top: 12px;
	color: white;
}
h4.dim{
	font-size: 50px; color: white; 
		 text-shadow: 1px 1px 2px black, 0 0 25px red;
	 position: relative;
 left: 550px;

 
}


	h1{ 
		font-size: 50px; color: white; 
		 text-shadow: 1px 1px 2px black, 0 0 25px red;
		 background: black url("../images/gray.jpg") left no-repeat;
		 background-position: center;
		 background-repeat: no-repeat;
		 background-size: cover;

	}
	h2{
		font-size: 27px; color: white; font-family:Georgia, serif; 


	}

	h3.prof{ font-family: 'Helvetica Neue', sans-serif; 
	font-size: 22px; 
	font-weight: 100; 
	line-height: 20px; 
	letter-spacing: 1px; 
	padding: 0 0 0px; 
	font-weight: bold; 
	color: white; 
	text-shadow: 2px 2px darkblue;}

	img.pro{
		width: 230px;
		height: 200px;
		border-radius: 50%;

	}
	img.logo{
		float:left; 
		width:45px; 
		height:45px;
	}
img.logo2{
		float:left; 
		width:45px; 
		height:45px; 
		border-radius: 50%;
	}

	div.background {
  	border: 3px solid white;
  	border-style:inset;
  	width: 400px;
  
	}

	div.transbox {
  margin: 5px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  padding: 15px;
  filter: alpha(opacity=60); 
  border-radius: 25px;
}

.clum {
  float: left;
  width: 20%;
 
}
.cen{
	float: left;
	width: 20%;
	position: relative;
 	left: 150px;
 	top: -40px;
 
}




.para {
  /* The image used */
  background-image: url("../images/gray.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.para2 {
  /* The image used */
  background-image: url("../images/nature.jpeg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.container {
  position: absolute;
  width: 50%;
  left: -30px;
}
.container2 {
  position: absolute;
  width: 50%;
  right: -30px;

}
.container3 {
  position: relative;
 left: 650px;
 top: 130px;
 
}

.image {
  opacity: 1;
  display: block;
  width: 120px;
	height: 450px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 25px;
}
.pic{
	width: 200px;
	height: 200px;
}